<%- include ('../layouts/profileheader.ejs') %>
<div class="col-lg-8">
    <div class="card mt-4">
    <div class="card-header bg-light py-4 ">
        <h4 class="mb-0">My Profile</h4>
        <p class="mb-0">Change Password</p>
    </div>
    <div class="card-body ">
        
        <form action="/user/<%=user.username%>/changePassword" method="post">
                <div class="form-group">
                  <label class="form-control-label" for="input-old">Enter old password</label>
                  <input type="password" id="input-old" class="form-control form-control-alternative bg-light" name="old">
              </div>
                <div class="form-group">
                  <label class="form-control-label" for="password">Enter new password</label>
                  <input type="password" id="password" class="form-control form-control-alternative bg-light" name="password">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="re-password">Confirm new password</label>
                <input type="password" id="re-password" class="form-control form-control-alternative bg-light" name="re-password">
            </div>
              <button type="submit" class="btn btn-primary">Update password</button>
        </form>

      </div>
    </div>
    </div>
</div>
</div>
</section>
  </div>