<%- include ('../layouts/userheader.ejs') %>
<div class="container shadow p-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5">
    <br>
    <h5 class="text-center">Welcome! You have succesfully created an account. Please login so that you can finally start using your privileges!</h5>
    <div class="container d-flex justify-content-center">    <img src="https://img.freepik.com/free-vector/characters-people-holding-positive-emoticons-illustration_53876-43005.jpg" alt="none" width="70%"></div>
    <br>
    <p class="text-center"><a href="/login" class="text-primary">Go to login &rarr;</a></p>
</div>

<%- include ('../layouts/userfooter.ejs') %>