
<%- include ('../layouts/userheader.ejs') %>
<div class="container shadow p-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5">
  <div class="mb-5 col-12">
    <br>
      <h2  class="text-center">Login</h2>
      <p class="text-center text-sm">Enter Login details to get access</p>
    </div>
    <div class="ml-auto mr-auto col-12 col-lg-11">
<form action="/login" method="post"  id="form1">
    <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="username">Username</label>
      <div class="input-group form-outline mb-4">

        <input type="text" id="username" name="username" class="form-control">
        <div class="input-group-append" id="username_error" style="display: none;">
            <span class="input-group-text bg-transparent text-primary py-0">
              <button type="button" class="btn btn-light btn-sm py-0" data-toggle="tooltip" data-placement="right" title="Username must have 3-20 characters" style="height: 36px;">
                <i class="fas fa-exclamation-circle" style="color: rgb(255, 162, 0); font-size: 15px; line-height: 0px; "></i>
              </button>
            </span>
            </div>
            </div>
  
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <div class="input-group form-outline mb-4">

        <input type="password" id="password" name="password" class="form-control" />
        <div class="input-group-append" id="password_error" style="display: none;">
            <span class="input-group-text bg-transparent text-primary py-0">
              <button type="button" class="btn btn-light btn-sm py-0" data-toggle="tooltip" data-placement="right" title="Password shoul have at least 8 characters, a digit and a letter" style="height: 36px;">
                <i class="fas fa-exclamation-circle text" style="color: rgb(255, 162, 0); font-size: 15px; line-height: 0px; "></i>
              </button>
            </span>
            </div>
            </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" value="remember" id="remember"  name="remember"/>
        <label class="form-check-label text-lg-sm" for="remember"> Remember me next time </label>
      </div>
      <!-- 2 column grid layout for inline styling -->
      <div class="mb-4">
          <!-- Simple link -->
          <a href="/forgotPassword" class="mr-auto">Forgot password?</a>
      </div>
    </div>
  
    <% if (message) { %>
      <p style="color: red; text-align: center;"><%= message %></p>
    <% }  %>
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-6">Login</button>
    </div>
    <!-- Register buttons -->
    <div class="text-center">
      <p>Don't have an account?<a href="/signup">Sign Up</a></p>
    </div>
  </form>
</div>
</div>
  
<%- include ('../layouts/userfooter.ejs') %>