
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Styles4U</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicon -->
    <link href="/images/fashion-heart-like-svgrepo-com.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body style="background-color: #F7F7F7;">
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row py-2 px-xl-5" style="background-color: #e9d4d4;">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Contact Us</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
               
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5 bg-light">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 px-4 display-5">Styles<span class="text-primary px-1 mr-1">4U</span></h1>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <br>
    <br>
    <div class="container shadow p-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5">
        <div class="mb-5 col-12">
          <br>
            <h4  class="text-center text-normal">Two step verification</h4>
            <p class="text-center" style="font-size: 15px;">Enter the verification code we have sent to </p>
          </div>
          <div class="ml-auto mr-auto col-12 col-lg-11">
      <form action="/signup/otp?email=<%=email%>" method="post"  id="form2">
          <!-- Username input -->
          <div class="form-outline mb-2">
            <label for="otp">Type your 4-digit verification code</label>
            <div class="d-flex align-items-center justify-content-between">
                <input type="text" class="form-control" id="otp" name="otp" maxlength="4" pattern="[0-9]+" ```required>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mb-2">
            <button type="submit" class="btn btn-primary btn-block col-6 " >Send</button>
          </div>
          <p class="text-center"><a href="/signup/otp/resend?email=<%=email%>" class="mr-3" id="restricted">Resend otp</a></p>
          <%if(resend){%>
            <p style="color: red; text-align: center;"> <%=resend%>
            </p> 
              <%}%>

          </div>
      
        </form>
        <br>
      </div>




<%- include ('../layouts/userfooter.ejs') %>   