<%- include ('../layouts/userheader.ejs') %>

<div class="container shadow p-lg-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5 col-11 mt-5 pb-3">
  <div class="mb-5 col-12">
    <br>
      <h2  class="text-center">Sign Up</h2>
      <p class="text-center text-sm">Create an account to join us</p>
    </div>
    <div class="ml-auto mr-auto col-12 col-lg-11">
<form action="/signup" method="POST" id="form1">
  <!-- Email input -->
  <label class="form-label" for="email">Email</label>
  <div class="input-group form-outline mb-4">

    <input type="text" id="email" name="email" class="form-control"  value="<%=locals.email%>"/>
    <div class="input-group-append" id="email_error" style="display: none;">
        <span class="input-group-text bg-transparent text-primary py-0">
          <button type="button" class="btn btn-light btn-sm py-0" data-toggle="tooltip" data-placement="right" title="Incorrect email format" style="height: 36px;">
            <i class="fas fa-exclamation-circle" style="color: rgb(255, 162, 0); font-size: 15px; line-height: 0px; "></i>
          </button>
        </span>
        </div>
        </div>
  <br>
  <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="username">Username</label>
      <div class="input-group form-outline mb-4">

        <input type="text" id="username" name="username" class="form-control">
        <div class="input-group-append" id="username_error" style="display: none;">
            <span class="input-group-text bg-transparent text-primary py-0">
              <button type="button" class="btn btn-light btn-sm py-0" data-toggle="tooltip" data-placement="right" title="Username must have 3-20 characters" style="height: 36px;">
                <i class="fas fa-exclamation-circle" style="color: rgb(255, 162, 0); font-size: 15px; line-height: 0px; "></i>
              </button>
            </span>
            </div>
            </div>
  
    </div>
  <br>
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Password</label>
      <div class="input-group form-outline mb-4">

        <input type="password" id="password" name="password" class="form-control" />
        <div class="input-group-append" id="password_error" style="display: none;">
            <span class="input-group-text bg-transparent text-primary py-0">
              <button type="button" class="btn btn-light btn-sm py-0" data-toggle="tooltip" data-placement="right" title="Password shoul have at least 8 characters, a digit and a letter" style="height: 36px;">
                <i class="fas fa-exclamation-circle text" style="color: rgb(255, 162, 0); font-size: 15px; line-height: 0px; "></i>
              </button>
            </span>
            </div>
            </div>
    </div>
    <br>
    <!-- Confirm Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="re-password">Confirm Password</label>
          <div class="input-group form-outline mb-4" >

            <input type="password" id="re-password" name="re-password" class="form-control"/>
            <div class="input-group-append" id="re_password_error" style="display: none;">
                <span class="input-group-text bg-transparent text-primary py-0">
                  <button type="button" class="btn btn-light btn-sm py-0" data-toggle="tooltip" data-placement="right" title="The password do not match with previous input" style="height: 36px;">
                    <i class="fas fa-exclamation-circle" style="color: rgb(255, 162, 0); font-size: 15px; line-height: 0px; "></i>
                  </button>
                </span>
                </div>
                </div>

        </div>
        <br>
        <% if (message) { %>
          <p style="color: red; text-align: center;"><%= message %></p>
        <% }  %>
      

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-6">Sign Up</button>
    </div>

  
</div>
    <div class="text-center">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </form>
</div>
</div>

<%- include ('../layouts/userfooter.ejs') %>

