<%- include ('../layouts/userheader.ejs') %>
<div class="container shadow p-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5">
    <br>
    <h5 class="text-center">We have a send a verification mail to your email. Please verify to continue...</h5>
    <div class="container d-flex justify-content-center">    <img src="/images/waiting.png" alt="none" width="70%"></div>

    <p class="text-center">Meanwhile you can browse our <a href="/" class="text-primary">home</a></p>
</div>

<%- include ('../layouts/userfooter.ejs') %>