<%- include ('../layouts/adminheader.ejs') %>

<div class="container p-3 mb-5 bg-secondary rounded col-lg-8 col-8 mt-5">
  <form action="/admin/add-category" method="post" id="form1">
    <div class="container bg-white p-4 mb-4">
      <div class="form-outline mb-4">
        <label class="form-label" for="name">Category Name</label>
        <div class="input-group form-outline mb-4">
          <input type="text" id="name" name="name" class="form-control" required />
        </div>
      </div>
      <div class="form-outline mb-5">
        <label class="form-label" for="parent">Sub Category</label>
        <div class="input-group form-outline mb-4">
          <input type="text" id="sub" name="sub" value="" class="form-control"/>
        </div>
      </div>
    </div>

    <% if (message) { %>
    <p style="color: red; text-align: center"><%= message %></p>
    <% } %>
    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-3">
        Create
      </button>
    </div>
  </form>
</div>

<%- include ('../layouts/adminfooter.ejs') %>
