
</div>
</main>
<!-- axios cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>

<!-- sweet alert cdn -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>



<script src="/js/main.js"></script>
<script>

  $(function () {
    $('.block-user').click(function () {
      const userId = $(this).data('user-id');
      Swal.fire({
                icon: "warning",
                title: "Are you sure?",
                text: "Do you want to change the access of this user?",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "yes",
            }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = `/admin/customer/block?id=${userId}`;
                }
            });
    })
  })
</script>

<script>
  function readURL(input) {
    if (input.files && input.files.length > 0) {
      $('.image-upload-wrap').hide();
      $('.image-preview').empty();

      for (var i = 0; i < input.files.length; i++) {
        if (!input.files[i].type.startsWith('image/')) {
    alert('Only image files (JPEG, PNG, GIF) are allowed.');
    removeUpload();
    return;
  }
        var reader = new FileReader();

        reader.onload = function (e) {
          var image = $('<img>').attr('src', e.target.result).addClass('file-upload-image');
          $('.image-preview').append(image);
        };

        reader.readAsDataURL(input.files[i]);
      }

      $('.file-upload-content').show();
    } else {
      removeUpload();
    }
  }

  function removeUpload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
  }

  $('.image-upload-wrap').bind('dragover', function () {
    $('.image-upload-wrap').addClass('image-dropping');
  });

  $('.image-upload-wrap').bind('dragleave', function () {
    $('.image-upload-wrap').removeClass('image-dropping');
  });
</script>

<script>
  function deleteProduct(id) {
          Swal.fire({
              icon: "warning",
              title: "Are you sure?",
              text: "Delete this product?",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "remove",
          }).then((result) => {
              if (result.isConfirmed) {
                axios({
                url: "/admin/product/delete",
                method: "POST",
                data: {
                    id
                },
            }).then((result) => {
              if(result.data.status==true){
                Swal.fire("removed!", "item has been deleted.", "success").then((response) => {
                          location.reload();
                      });
              }else{
                Swal.fire("Failed", "item not deleted.", "error").then((response) => {
                          location.reload();
                      });
              }
                      
                  });
              }
          });
        }
</script>

</body>
</html>
</html>