<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Styles4U</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicon -->
    <link href="images/fashion-heart-like-svgrepo-com.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right " id="sidebar-wrapper">
          <div class="sidebar-heading">
            <div class="col-lg-3 d-lg-block my-4">
                <a href="" class="text-decoration-none">
                    <h2 class="m-0 px-4">Styles<span class="text-primary px-1 mr-1">4U</span></h2>
                </a>
            </div>
          </div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
            <div class="dropdown">
              <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseExample2">
                Category
              </a>
              <div class="collapse" id="collapseExample2">
                <a class="dropdown-item" href="/admin/categories?page=1">Categories</a>
                <a class="dropdown-item" href="/admin/add-category">Add category</a>
              </div>
            </div>
            <div class="dropdown">
                <a class="list-group-item list-group-item-action " data-toggle="collapse" href="#collapseExample">
                  Product
                </a>
                <div class="collapse"  id="collapseExample">
                  <a class="dropdown-item" href="/admin/products">Products</a>
                  <a class="dropdown-item" href="/admin/add-product">Add Product</a>
                </div>
              </div>
            <a href="#" class="list-group-item list-group-item-action">Orders</a>
            <a href="/admin/customer" class="list-group-item list-group-item-action">Customers</a>
            <div class="dropdown">
              <a class="list-group-item list-group-item-action" data-toggle="collapse"  href="#collapseExample3">
                Coupon
              </a>
              <div class="collapse" id="collapseExample3">
                <a class="dropdown-item" href="#">Coupons</a>
                <a class="dropdown-item" href="#">Create Coupons</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div class="container px-0">
          <!-- Top Navigation Bar -->
          <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #AF6868;">
            <span class="navbar-text ml-auto text-light">
              Utharas
            </span>
          </nav>



    
