<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Styles4U</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicon -->
    <link href="/images/fashion-heart-like-svgrepo-com.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/a19edc713a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.css">
    
    
    
</head>

<body style="overflow-x: hidden;">
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row py-2 px-xl-5" style="background-color: #e9d4d4; overflow: hidden;">
            <div class="col-lg-6 d-none d-lg-block">
            </div>
            <div class="col-lg-6 text-center text-lg-right">
               
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="/" class="text-decoration-none">
                    <h1 class="m-0 px-4 display-5">Styles<span class="text-primary px-1 mr-1">4U</span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="/shop" id="searchForm">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products" name="search">
                        <div class="input-group-append">
                            <button class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <%if(user){%>
            <div class="col-lg-3 col-6 text-right">
                <a href="/wishlist" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge"><%=wishCount%></span>
                </a>
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge"><%=cartCount%></span>
                </a>
                <%}%>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid px-0">
        <div class="row border-top">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0  px-xl-5" >
                    <a href="/" class="text-decoration-none  d-block d-lg-none">
                        <h1 class="m-0 px-4 display-5">Styles<span class="text-primary px-1 mr-1">4U</span></h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <%if(url=='/'){%>
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/shop" class="nav-item nav-link">Shop</a>
                            <%}else if(url=='/shop'){%>
                                <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/shop" class="nav-item nav-link active">Shop</a>
                            <%}else{%>
                                <a href="/" class="nav-item nav-link">Home</a>
                                <a href="/shop" class="nav-item nav-link">Shop</a>
                            <%}%>
                        </div>
                        <%if(user){%>
                                <div class="nav-item dropdown mr-5">
                                    <a class="btn text-dark" data-toggle="dropdown"><%=user%></a>
                                    <div class="dropdown-menu bg-light ">
                                        <a class="dropdown-item pr-1 container-fluid" href="/user">My Account</a>
                                          <a id="logoutLink" class="dropdown-item pr-1 container-fluid">
                                                <button class="btn btn-primary px-4">logout</button></a>
                                                <script>
                                                    const url = window.location.href.replace("http://localhost:8000", "");
                                                    const logoutLink = document.getElementById("logoutLink");
                                                    logoutLink.href = `/logout?url=${url}`;
                                                  </script>
                                    </div>
                                </div>
                            <%}else{%>
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/login<%if(req){%>?url=<%=req.url%><%}%>" class="nav-item nav-link">Login</a>
                            <a href="/signup" class="nav-item nav-link">Register</a>
                        </div>
                        <%}%>
                    </div>
                </nav>


    