<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
      <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
          <a href="" class="text-decoration-none">
              <h1 class="mb-4 display-5 font-weight">Styles<span class="text-primary px-2 mr-1">4U</span></h1>
          </a>
          <p class="mb-2" style="color:rgb(167, 55, 55)"><i class="fa fa-map-marker-alt text-primary mr-3 "></i>Regional Office address</p>
          <p>Styles4U Private Limited,<br>
            Stadium Complex,<br>
            Thalikaavu Road,<br>
            Kannur, 670301, Kerala, India<br>
            Telephone: 044-45614700</p>
      </div>
      <div class="col-lg-8 col-md-12">
          <div class="row">
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">About us</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Contact us</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>FAQ</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Support</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Homepage</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Our Vision</a>
                  </div>
              </div>
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Help and more</h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Terms of Use</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Return Policy</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Track your order</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Address</a>
                      <a class="text-dark mb-2" href=""><i class="fa fa-angle-right mr-2"></i>Rate us</a>

                  </div>
              </div>
              <div class="col-md-4 mb-5">
                  <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                  <form action="">
                      <div class="form-group">
                          <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required">
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control border-0 py-4" placeholder="Your Email" required="required">
                      </div>
                      <div>
                          <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="row border-top border-light mx-xl-5 py-4">
      <div class="col-md-6 px-xl-0">
          <p class="mb-md-0 text-center text-md-left text-dark">
              © <a class="text-dark font-weight-semi-bold" href="#">Styles4U</a>. All Rights Reserved. Designed
              by Uthara Subhod
          </p>
      </div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script src="js/formvalidation.js"></script>
</body>

</html>