<%- include ('../layouts/homeheader.ejs') %>
</div></div></div>
<div class="container shadow p-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5">
    <br>
    <div class=" text-center pt-3" style="height:150px">
    <i class="fa-solid fa-circle-check fa-beat text-success" style="font-size: 100px"></i>
    </div> 
    <h5 class="text-center">Your Order has been successfully placed</h5>
    <p class="text-center"><a href="/shop" class="text-primary">Continue Shopping</a></p>
</div>

<%- include ('../layouts/userfooter.ejs') %>