<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Styles4U</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicon -->
    <link href="/images/fashion-heart-like-svgrepo-com.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/a19edc713a.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body>
<form  id="form" method="post" >
  <input type="text" name="coupon" id="coupon" />
  <button type="submit">add</button>
  <p id="couponcode"></p>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    let form=document.getElementById("form")
    form.addEventListener('submit',async(e)=>{
      e.preventDefault()
    let couponCode = document.getElementById("coupon").value;
    let result = await axios({
      url: "/couponTest",
      method: "POST",
      data: {
        couponCode,
      },
    });
    if (result.data.status) {
      await Swal.fire({
        icon: "success",
        title: "Congrats",
        text: "This coupon exists",
        showConfirmButton: false,
        timer: 3000,
      });
      document.getElementById("couponcode").innerHTML=`${result.data.status}`
    }else{
      await Swal.fire({
        icon: "error",
        title: "You idiot",
        text: "The code is wrong",
        showConfirmButton: false,
        timer: 3000,
      });
    }
  })


</script>
</body>

