<%- include ('../layouts/userheader.ejs') %>

<div class="container shadow p-3 mb-5 bg-white rounded col-lg-5 col-8 mt-5">
  <div class="mb-5 col-12">
    <br>
      <h2  class="text-center">Sign Up</h2>
      <p class="text-center text-sm">Create an account to join us</p>
    </div>
    <div class="ml-auto mr-auto col-12 col-lg-11">
<form action="/signup" method="'post">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email</label>
    <input type="email" id="form2Example1" class="form-control" />
  </div>
  <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Username</label>
      <input type="text" id="form2Example1" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" />
    </div>

    <!-- Confirm Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Confirm Password</label>
          <input type="password" id="form2Example2" class="form-control" />
        </div>

    <!-- Submit button -->
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-6">Sign Up</button>
    </div>

    <div class="text-center">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </form>
</div>
</div>

<%- include ('../layouts/userfooter.ejs') %>

